/* home Category section */

.HomePg .RowColumnOne {
  text-align: center;
}

.HomePg .RowColumnThree .MuiBox-root {
  text-align: center;
  position: relative;
}

.HomePg .RowColumnThree .MuiBox-root .MuiTypography-root a {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0;
  top: 40%;
  background: #ffffff4a;
  line-height: 1.2;
  padding: 30px 0;
  color: white;
}

.HomePg .RowHeroBanner .HeroBanner-root {
  margin-bottom: 60px;
}

/* fabrice home section */

.HomePg .RowSpecialBanner .SpecialBanner-root {
  padding: 0;
  margin-bottom: 50px;
  position: relative;
}

.HomePg .RowSpecialBanner .SpecialBanner-root .MuiContainer-root {
  display: block;
}

.HomePg .RowSpecialBanner .SpecialBanner-root .MuiContainer-root .SpecialBanner-asset img {
  border-radius: 0;
  filter: brightness(0.8);
}

.HomePg .RowSpecialBanner .SpecialBanner-root .SpecialBanner-copy {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 40%;
}

.HomePg .RowSpecialBanner .SpecialBanner-root .SpecialBanner-copy h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.HomePg .RowSpecialBanner .SpecialBanner-root .SpecialBanner-copy .MuiLink-root {
  text-decoration: unset;
  padding-bottom: 10px;
  border-bottom: 3px solid #fff;
  padding-left: 10px;
  padding-right: 10px;
}
